# Database
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" # Base URL of your app

# ArcJet
ARCJET_KEY=""

# OAuth Social Providers
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# MailTrap emailing
MAILTRAP_TOKEN=''
APP_EMAIL=''